/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap'); */

* {
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

header {
    background-color: #222;
}

.header-container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    margin: 0 auto;
}

.logo-header {
    display: flex;
    gap: 41px;
    align-items: center;
}

.icon_search {
    width: 26px;
    height: 26px;
}

.navigation {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.icon-basket {
    margin-left: 42px;
    margin-right: 9px;
}

.intro {
    background: #F1E4E6;
    display: flex;
    justify-content: space-around;
}

.intro-item {
    display: flex;
    gap: 64px;
}

.intro-right {
    display: flex;
    align-items: center;
}

.text__intro-right {
    margin: 0;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    font-weight: 900;
    font-size: 32px;
}

.offer {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 65px;
    margin-bottom: 96px;
}

.card {
    position: relative;
    text-align: center;
}

.card_for_accesories {
    text-align: center;
    position: relative;
    grid-column: span 3;
    height: 180px;
}

.card-bg {
    background: rgba(33, 22, 22, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.offer-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.text_card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
}

.big-text_card {
    font-size: 24px;
    color: #F16D7F;
    font-weight: 700;
}

.title_featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

.subtitle_featured {
    color: #9F9F9F;
    font-size: 14px;
    margin-bottom: 48px;
}

.featured-item {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 30px;
}

.img-item {
    width: 360px;
    height: 420px;
}

.image-item2 {
    display: flex;
    justify-content: center;
    background-color: #F7E4E2;
    ;
    width: 360px;
    height: 420px;
}

.img-item-2 {
    height: 420px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-item {
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    gap: 16px;
    background-color: #F8F8F8;
    ;
}

.desc-item {
    color: #5D5D5D;
    font-weight: 300;
}

.price-item {
    color: #F16D7F;
}

.button {
    display: flex;
    margin-top: 48px;
    margin-bottom: 60px;
    justify-content: center;
}

.button-item {
    display: flex;
    background: none;
    width: 212px;
    height: 48px;
    color: #F26376;
    border-color: #F26376;
    justify-content: center;
    align-items: center;
}

/* Планшетная версия */
@media screen and (max-width: 1023px) {
    .header-container .intro .intro-item {
        max-width: 100%;
    }

    .logo-header {
        margin-left: 32px;
    }

    .icon-basket {
        margin-right: 41.01px;
    }

    .intro-item {
        gap: 39px;
    }

    .intro-left {
        width: 386px;
        height: 368px;
    }

    .intro-right {
        margin-right: 34px;
    }

    .intro-big_text {
        font-size: 44px;
    }

    .subtext-intro {
        font-size: 24px;
    }

    .img-card {
        position: relative;
        width: 231.973px;
        height: 100%;
    }

    .img-accesories {
        position: relative;
        width: 734.581px;
        height: 116.043px;
    }

    .card-bg {
        background: rgba(33, 22, 22, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .card_for_accesories {
        text-align: center;
        position: relative;
        grid-column: span 3;
        width: 734.581px;
        height: 116.043px;
    }

    .offer-item {
        gap: 18.91px;
    }

    .featured-item {
        grid-template-columns: repeat(2, 360px);
    }

    .image-item2 {
        position: relative;
    }


    .blackout-img2 {
        opacity: 1;
        background: rgba(58, 56, 56, 0.86);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.5s;
    }

    .button-card2 {
        transition: 0.5s;
        opacity: 1;
        display: flex;
        height: 44px;
        width: 139px;
        gap: 11.04px;
        background: none;
        color: #FFF;
        font-size: 14px;
        border: 1px solid #FFF;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
    }

    .blackout-img2:hover .button-card2 {
        opacity: 0;
        cursor: pointer;
    }
}