* {
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

header {
    display: flex;
    background-color: #222;
    height: 75px;
    align-items: center;
    justify-content: space-between;
}

.logo-header {
    display: flex;
    gap: 41px;
    margin-left: 240px;
    align-items: center;
}

.icon_search {
    width: 26px;
    height: 26px;
}

.icon_navigation {
    margin-right: 240px;
    width: 159px;
    height: 29px;
}

.intro {
    background: #F1E4E6;
    display: flex;
    justify-content: space-around;
}

.intro-item {
    display: flex;
}

.intro-right {
    display: flex;
    align-items: center;
}

.text__intro-right {
    margin: 0;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    font-weight: 900;
    font-size: 32px;
}

.offer {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 65px;
    margin-bottom: 96px;
}

.card_for_woman {
    position: relative;
    text-align: center;
}

.card_for_men {
    position: relative;
    text-align: center;
}

.card_for_kids {
    position: relative;
    text-align: center;
}

.card_for_accesories {
    text-align: center;
    position: relative;
    grid-column: span 3;
    height: 180px;
}

.offer-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.text_card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
}

.big-text_card {
    font-size: 24px;
    color: #F16D7F;
    font-weight: 700;
}

.title_featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

.subtitle_featured {
    color: #9F9F9F;
    font-size: 14px;
    margin-bottom: 48px;
}

.featured-item {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 30px;
}

.img-item {
    width: 360px;
    height: 420px;
}

.image-item2 {
    display: flex;
    justify-content: center;
    background-color: #F7E4E2;
    ;
    width: 360px;
    height: 420px;
}

.img-item-2 {
    height: 420px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-item {
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    gap: 16px;
    background-color: #F8F8F8;
    ;
}

.desc-item {
    color: #5D5D5D;
    font-weight: 300;
}

.price-item {
    color: #F16D7F;
}

.button {
    display: flex;
    margin-top: 48px;
    margin-bottom: 60px;
    justify-content: center;
}

.button-item {
    display: flex;
    background: none;
    width: 212px;
    height: 48px;
    color: #F26376;
    border-color: #F26376;
    justify-content: center;
    align-items: center;
}